*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(323177.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
}
nav{
    /* padding: 10px 0; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.logo{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.name{
    height: 60px;
    width: 100%;
    border-radius: 20px;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.aslName{
    font-size: 200%;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}
.DisplayVids{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}














.h{
    width: 100%;
    display: flex;
    border-top-left-radius: 20px;
    background-color: #a5890a;
    align-items: center;
    justify-content: center;
}
.h1{
    margin-top: 10px;
}
.Classes{
    width: 200px;
    height: 480px;
    border: peru;
    margin-left: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: antiquewhite;
}
.Classes .Classes1{
    margin-top: 20px;
}
.Classes .Classes1 .class1{
    color: #2c83af;
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: 900;
}
.Classes .Classes1 .class1 option{
    color: #053147;
    /* width: 100%;
    height: 40px;
    padding: 8px; */
    font-size: 16px;
    font-weight: bolder;
}
.Classes .Classes1 .lbl1{
    font-weight: 900;
}
.Classes .Classes1 option{
    color: #2c83af;
    size: 20px;
    font-weight: 500;
}
.Classes .Classes2{
    margin-top: 20px;
}
.Classes .Classes2 .class2{
    color: #2c83af;
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 16px;
}
.Classes .Classes2 .lbl2{
    font-weight: 900;
}
.Classes .Classes2 option{
    color: #2c83af;
    size: 20px;
    font-weight: 500;
}










.video1{
    width: 640px;
    height: 480px;
    background-color: transparent;
    border: 2px solid blue;
    color: #255784;
    box-shadow: 0 0 10px #c2450b,0 0 40px #2196f3, 0 0 80px #a5890a;
    float: left;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}
.video1 .message1{
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    transform: translateY(200px) translateX(210px);
    color: #c2450b;
}
.video1 .message2{
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    transform: translateY(200px) translateX(210px);
    color: #0aa324;
}
.video2{
    width: 640px;
    height: 480px;
    background-color: transparent;
    border: 2px solid blue;
    color: #255784;
    box-shadow: 0 0 10px #c2450b,0 0 40px #2196f3, 0 0 80px #a5890a;
    float: left;
}








.b{
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.fambox{
    position: relative;
    width: 80%;
    height: 95%;
    border: 2px;
    border-color: brown;
    margin-top: 20px;
    border-radius: 50px;
    background-image: url(bacground.jpg);
    background-position: center;
    background-size: contain;
    overflow: hidden;
    background-color: antiquewhite;
}
.fam{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}
.family{
    height: 100%;
    position: relative;
    font: bolder;
    font-weight: 900;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons1{
    margin-top: 30px;
    width: 100%; 
    height: 50%;
    display: flex;
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.btn1 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(-200%) translateY(30%);
}

.buttons1 .btn1:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn1:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn2{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(-99%) translateY(30%);
}
.buttons1 .btn2:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0px 8px 10px #2c83af,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn2:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn3{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(2%) translateY(30%);
}
.buttons1 .btn3:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn3:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn4{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(103%) translateY(30%);
}
.buttons1 .btn4:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn4:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn5{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(204%) translateY(30%);
}
.buttons1 .btn5:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons1 .btn5:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2{
    
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.buttons2 .btn6{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(-200%) translateY(120%);
}
.buttons2 .btn6:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn6:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn7{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(-99%) translateY(120%);
}
.buttons2 .btn7:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn7:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn8{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(2%) translateY(120%);
}
.buttons2 .btn8:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn8:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn9{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(103%) translateY(120%);
}
.buttons2 .btn9:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn9:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn0{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(120, 156, 211);
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 8px 0px #2c83af, 0px 8px 20px #222222;
    transition: all 0.3s ease;
    flex-shrink: 0;
    transform: translateX(204%) translateY(120%);
}
.buttons2 .btn0:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}
.buttons2 .btn0:active {
    margin-top: 0px;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0s;
}


