*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(ASL_Flag3.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}
.title1 {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
.box1 {
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.videodiv {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

 
}
.video1 {
    width: 640px;
    height: 480px;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: lightblue;
    border: 2px solid blue;
    
    float: left;
   
 
}
.video2 {
    width: 640px;
    height: 480px;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: lightblue;
    border: 2px solid blue;
    
    float: left;
    
   
}
.btn1 {
    /* border: 2px solid blue; */
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.btn2 {
    /* border: 2px solid blue; */
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.button1 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button11 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button2 {
    height: 50px;
    width: 200px;
    border: black;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button3 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button4 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button5 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button6 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button7 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button8 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button9 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button10 {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: lime;
    font-size: 20px;
}
.button1:hover {
    height: 55px;
    width: 210px;
    
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button2:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button3:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button4:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button5:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button6:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button7:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button8:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button9:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}
.button10:hover {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(50, 192, 192);
    font-size: 20px;
}