<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mains.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> -->
    <title>ASL</title>
</head>
<body>
    <div class="main">
        <div class="title1">
            <h1>ASL Sign Language Tutorials</h1>
        </div>
        <div class="box1">
            <div class="videodiv">

                <div class="video1" id="play_video">
                    <img id="v" src="" alt="Video Stream">
                </div>
                <div class="video2">
                    <video id="myVideo" width="640" height="480" controls autoplay muted playsinline>
                        <source src="{{ url_for('static', filename='aunt.mp4') }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="btn1">
            <button class="button1" data-video-source="{{ url_for('video_feed') }}"
                onclick="playVideo(this.getAttribute('data-video-source'))"
                >Aunt</button>
            <button class="button2" onclick="runPythonScript()">Baby</button>
            <button class="button3" type="submit">Brother</button>
            <button class="button4" type="submit">Cousin</button>
            <button class="button5" type="submit">Father</button>
        </div>
        <div class="btn2">
            <button class="button6" type="submit">Grandfather</button>
            <button class="button7" type="submit">Grandmother</button>
            <button class="button8" type="submit">Mother</button>
            <button class="button9" type="submit">Sister</button>
            <button class="button10" type="submit">Uncle</button>
        </div>
        <div class="Classes"></div>
        <div class="Words"></div>
        <script>//python
            function playVideo(videoSource) {
                const video = document.getElementById('v');
                video.src = videoSource;
                video.load(); // Load the video source
                video.play(); // Play the video
            }
        </script>
        <script>
            function playVideo1(videoSource) {
                var video = document.getElementById("myVideo");
                video.src = videoSource;
                video.load();
                video.play();
        
                // Reset video to the beginning when it ends
                video.addEventListener('ended', function() {
                    this.currentTime = 0;
                    this.play();
                });
            }
        </script> 
    </div>
</body>
</html>