.back1 {
    width: 100%;
    height: 100vh;
    background-image: url(323177.jpg);
    background-position: center;
    background-size: cover;
    padding: 0rem;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back2 {
    width: 40rem;
    height: 30rem;
    /* background-color: antiquewhite; */
    background: rgba(183, 181, 216, 0.3);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.lbl1 {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(7, 4, 0);
    position: relative;
    animation: LTR 25s linear infinite;
    white-space: nowrap;
}
button{
    width: 20rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn1{
    background-color: rgba(1, 10, 22, 0.39);
    color: white;
    font-size: 2rem;
    font-weight: 900;
}
.btn1:hover{
    width: 20rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    animation:reverse;
    /* animation: LTR 25s linear infinite; */
    /* white-space: nowrap; */
}
.btn2{
    background-color: rgba(21, 83, 199, 0.39);
    color: rgb(161, 29, 29);
    font-size: 2rem;
    font-weight: 900;
}
@keyframes LTR {
    0% {
        transform: translateX(80%);
    }

    /* 50% {
        transform: translateX(0);
    } */

    100% {
        transform: translateX(-80%);
        opacity: 50;
    }
}
@keyframes btns {
    0% {
        transform: translateX(80%);
    }

    /* 50% {
        transform: translateX(0);
    } */

    100% {
        transform: translateX(-80%);
        opacity: 50;
    }
}